# Environment variables
.env

#  Python virtual environments
venv/

# Dataset
dataset/*.zip
dataset/.DS_Store
dataset/Thumbs.db

# Vector database
vector_db/

# Python build and caches
__pycache__/
*.py[cod]
*.egg-info/

# Logs y archivos del sistema
*.log
.DS_Store
Thumbs.db

# Jupyter notebooks and checkpoints
.ipynb_checkpoints/

# Pytest cache
.pytest_cache/


README_.md
=0.6.18

#tmp_dataset
tmp_dataset.zip

#assignment
ASSIGNMENT.md
